# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native
*.jsbundle
*.hprof
*.keystore
*.log

# Metro
.metro-health-check*
/packager-cache-*

# Babel
/babel-cache/

# ESLint
.eslintcache

# Android
android/app/build/
android/build/
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
android/.cxx/

# iOS / Xcode
ios/build/
ios/Pods/
ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
ios/*.xcworkspace/xcuserdata/
ios/*.xcworkspace/xcshareddata/xcdebugger/
ios/*.xcworkspace/xcshareddata/xcschemes/
ios/*.xcworkspace/xcshareddata/xcschemes.xcscheme

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Watchman
.watchmanconfig

# VSCode
.vscode/

# Prettier
.prettierignore

# Jest coverage
/coverage

# Yarn Plug'n'Play
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Reactotron
reactotron.log

# .env (if use in future)
.env
.env.*
